.colorme{
    background-color: rgb(215, 221, 224);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;
  }
  .indexme{
      z-index: 0;
  }

  app-footer{
      position: fixed;
      bottom: 0;
      width: 100%;
  }